<ion-header>
	<ion-toolbar>
		<ion-title>Item Form</ion-title>
		<ion-button slot="end" (click)="dismiss()" fill="clear">
			Close
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="form" (ngSubmit)="submitForm()">
		<ion-item>
			<ion-label position="stacked">Item Name</ion-label>
			<ion-input type="text" formControlName="itemName"></ion-input>
			<ion-note slot="error" *ngIf="itemName.dirty || itemName.touched"
				>Enter item name.</ion-note
			>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Quantity</ion-label>
			<ion-input
				type="number"
				inputmode="numeric"
				formControlName="itemQuantity"
			></ion-input>
			<ion-note
				slot="error"
				*ngIf="itemQuantity.dirty || itemQuantity.touched"
				>Enter item quantity.</ion-note
			>
		</ion-item>
		<ion-button type="submit" expand="block" [disabled]="!form.valid"
			>Submit</ion-button
		>
	</form>
</ion-content>
