<ion-header>
	<ion-toolbar>
		<ion-button slot="start" (click)="navigateBackToItemList()">
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-button>
		<ion-title>Item Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{ item.name }}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-label><b>Total Quantity:</b> {{ item.quantity }}</ion-label>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-content>
			<ion-button expand="full" (click)="inventory('in')">In</ion-button>
			<ion-button expand="full" (click)="inventory('out')"
				>Out</ion-button
			>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Item Log History</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col>Date</ion-col>
					<ion-col>Mode</ion-col>
					<ion-col>Quantity</ion-col>
					<ion-col>Total Quantity</ion-col>
				</ion-row>
				<ng-container *ngFor="let log of logs">
					<ion-row>
						<ion-col>{{ log.date | date: 'dd/MM/YYYY' }}</ion-col>
						<ion-col>{{ log.mode }}</ion-col>
						<ion-col>{{ log.itemQty }}</ion-col>
						<ion-col>{{ log.itemTotal }}</ion-col>
					</ion-row>
				</ng-container>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>
