<ion-header>
	<ion-toolbar>
		<ion-button
			slot="start"
			(click)="navigateBackToSettings()"
			fill="clear"
		>
			<ion-icon name="arrow-back-outline"></ion-icon>
		</ion-button>
		<ion-title>Item Manager</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar [formControl]="searchControl"></ion-searchbar>
	<ion-list>
		<ng-container *ngFor="let item of displayItems">
			<ion-item>
				<div class="item">
					<ion-label class="left">{{ item.name }}</ion-label>
					<ion-label class="right"
						>Qty: {{ item.quantity }}</ion-label
					>
				</div>
				<ion-button slot="end" (click)="itemOptions(item)" fill="clear">
					<ion-icon name="ellipsis-vertical"></ion-icon>
				</ion-button>
			</ion-item>
		</ng-container>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="addItem()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
