<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Item List</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-searchbar [formControl]="searchControl"></ion-searchbar>
	<ion-list>
		<ng-container *ngFor="let item of displayItems">
			<ion-item>
				<ion-button
					expand="full"
					fill="clear"
					(click)="navigateToItemDetails(item)"
				>
					<div class="button">
						<div class="left">{{ item.name }}</div>
						<div class="right">
							<ion-label>Qty: {{ item.quantity }}</ion-label>
						</div>
					</div>
					<ion-icon name="chevron-forward-outline"></ion-icon>
				</ion-button>
			</ion-item>
		</ng-container>
	</ion-list>
</ion-content>
